.education-card {
    position: relative;
    background-color: rgba(#fff, .7);
    border-radius: 20px;
    padding: 3rem 5rem;
    transition: all .2s;

    &:hover {
        transform: scale(1.02);
        box-shadow: .5rem 1rem 1.5rem rgba(black, 0.1);
    }

    @include respond(medium) {
        padding: 2rem 3rem;
        border-radius: 15px;
    }

    &__position {
        color: $color-primary;
    }

    &__university-name {
        color: $color-primary;     
        & > * {
            text-decoration: none;
            color: $color-primary;
        }
    }

    &__degree {
        font-weight: 700;
        color: $color-secondary;
    }

    &__honors {
        font-weight: 700;
        color: $color-grey-dark-2;
    }

    &__duration {
        margin-bottom: 10px;
    }

    &__university-logo {
        position: absolute;
        top: 3rem;
        right: 4rem;

        @include respond(medium) {
            display: none;
        }
    }

    &__description {
        margin-left: 3rem;

        @include respond(small) {
            margin-left: 2rem;
        }    
    }
}
