.skill-card {
    width: 21%;
    margin-bottom: 3rem;

    @include respond(small) {
        width: 34%;
    }    

    img {
        width: 75px;
        height: auto;
        border-radius: 15%;
        margin-bottom: 1rem;
        background-color: #fff;
    }

    p {
        text-align: center;
        line-height: 1.4;
    }
}
