// FONT VARIABLES
$font-primary: 'Avenir', Helvetica, Arial, sans-serif;

// COLOR
$color-grey-dark-1: #222;
$color-grey-dark-2: #333;
$color-grey-dark-3: #777;

$color-grey-light-1: rgb(215, 215, 215);
$color-grey-light-2: rgb(235, 235, 235);

$color-blue-dark: #101d2c;

$color-primary: #144e83;
$color-secondary: #23520b;
    